@import "partials/setup";
@import "partials/forms";
@import "partials/content";
@import "partials/colors";
@import "partials/greeting";

// General Styles

html {
    font-size: 62.5%;
}

body {
/*     background: $bodyBackground; */
    background: url("../assets/simon-peel-372405-min.jpg");
    background-repeat: no-repeat;
    background-position: 20%;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
}


// Background Photo by simon peel on Unsplash