// main border
$border: rgb(212, 154, 106);

// h2, h3 colour
$desHeading: rgb(128, 69, 21);

// Main background
$bodyBackground: rgb(250, 205, 115);

// 
$contentBackground: rgb(255, 224, 161);

// Light background in paragraphs
$paraBackground: rgb(255, 240, 210);

//Summary box color:
$summaryColor:  rgb(255, 215, 136);