@import "./colors";

.contents-container {
    border: 3px solid $border;
    margin: 0 auto;
    padding: 15px;
        width: 75%;
    margin-top: 50px;
}

h2 {
    font-size: 3rem;
}

.sub-heading {
    font-size: 1.6rem;
    color: $desHeading;
}

.para {
    font-size: 1.4rem;
    display: block;
    background: $paraBackground;
    padding: 10px;
    width: 93%;
    margin: 0 auto;
}

.date-selector-container {
    border: $border;
    width: 18%;
}

.summary-container {
        background: $contentBackground;
}