@import "./colors";

.contents-container {
    margin: 0 auto;
        width: 100%;
    margin-top: 24px;
}

h2 {
    font-size: 1.7rem;
    margin: 0;
}

.sub-heading {
    font-size: 1.6rem;
    color: $desHeading;
    margin: 0;
    padding: 7px;
}

.para {
    font-size: 1.4rem;
    display: block;
    background: $paraBackground;
    padding: 10px;
    width: 93%;
    margin: 0 auto;
}

.date-selector-container {
    border: $border;
    width: 18%;
}

.summary-container {
        background: $contentBackground;
}

details {
    display: flex;
}

summary {
    background: $summaryColor;
    position: relative;
    width:20%;
}

summary:active, details:active {
    border: none;
}

.summary-content {
    width: 70%;
    position: relative;
    left: 26%;
    background: rgb(255, 215, 136);
    margin-bottom: 10px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 9px;
    border: 1px solid $border;
}

.image-holder {
    width: 200px;
    height: 250px;
    border: 2px solid red;
}